psycopg2-binary
Django
Pillow
PyJWT
PyYAML
asgiref
django-js-asset
django-mptt
django-rest-passwordreset
djangorestframework
djangorestframework-simplejwt
drf-yasg
inflection
packaging
psycopg2-binary
python-dotenv
